.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.border-item {
  list-style: none;
  display: flex;
  align-items: center;
}
.border-covid19 {
  color: #f8fafc;
  font-family: 'Bree Serif';
  font-size: 20px;
}
.border-india {
  color: #3b82f6;
  font-family: 'Roboto';
  font-size: 20px;
}
.footer-msg {
  color: #94a3b8;
  font-size: 16px;
  text-align: center;
}
.footer-icon-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
  color: #f8fafc;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .border-item,
  .border-india {
    font-size: 20px;
  }
}
