.select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}
.state-card-item {
  list-style: none;
}
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 232px;
  height: 256px;
  margin: 5px;
}
.confirmed-clr {
  color: #ff073a;
}
.active-clr {
  color: #007bff;
}
.recovered-clr {
  color: #28a745;
}
.deceased-clr {
  color: #6c757d;
}
.state-status {
  font-size: 16px;
}
.state-count {
  font-size: 24px;
}

.confirmed-card,
.confirmed-clr:hover {
  background-color: #331427;
}
.active-card,
.active-clr:hover {
  background-color: #132240;
}
.recovered-card,
.recovered-clr:hover {
  background-color: #182829;
}
.deceased-card,
.deceased-clr:hover {
  background-color: #1c1c2b;
}
@media screen and (max-width: 767px) {
  .category-card {
    width: 140px;
    height: 140px;
  }
  .state-status {
    font-size: 12px;
  }
  .state-count {
    font-size: 16px;
  }
}
